<a href="https://colab.research.google.com/github/pelinmisee/House-Price-Prediction-Data-Preprocess/blob/main/House_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset=pd.read_csv("houses.csv")

There exists some problem with links, they cannot be clicked because of //en part. That must be in /en. That will be replaced first of all.

In [ ]:
dataset["home_link"]=dataset["home_link"].str.replace("//en", "/en")

In [ ]:
dataset.head()

,Unnamed: 0,ilan_no,room,salon,brut_m2,net_m2,floor_location,building_age,building_floor,compliance_with_loan,bathroom_amount,building_type,fuel_type,price,il,ilce,mahalle,home_link
0,0,132040-377,2,1,120,110,2,4,4,True,1,Betonarme,Doğalgaz,2.390.000TL,Balıkesir,Edremit,Akçay,https://www.hepsiemlak.com/en/balikesir-edremi...
1,1,97948-8022,2,1,120,100,1,16,4,True,1,Betonarme,Kömür-Odun,1.279.000TL,Balıkesir,Edremit,Akçay,https://www.hepsiemlak.com/en/balikesir-edremi...
2,2,113569-4290,2,1,115,105,1,4,4,True,2,Betonarme,Doğalgaz,2.350.000TL,İstanbul,Beylikdüzü,Yakuplu,https://www.hepsiemlak.com/en/istanbul-beylikd...
3,3,133471-42,2,1,80,75,Ara Kat,0,3,True,1,Betonarme,Doğalgaz,1.100.000TL,Sakarya,Karasu,Yalı,https://www.hepsiemlak.com/en/sakarya-karasu-y...
4,4,90940-2553,2,1,110,100,2,5,4,True,2,Betonarme,Elektrik,1.750.000TL,Balıkesir,Edremit,Altınkum,https://www.hepsiemlak.com/en/balikesir-edremi...

In [ ]:
dataset.columns

Index(['Unnamed: 0', 'ilan_no', 'room', 'salon', 'brut_m2', 'net_m2',
       'floor_location', 'building_age', 'building_floor',
       'compliance_with_loan', 'bathroom_amount', 'building_type', 'fuel_type',
       'price', 'il', 'ilce', 'mahalle', 'home_link'],
      dtype='object')

There exists an unnecessary columns, it will be deleted.

In [ ]:
dataset.drop(['Unnamed: 0'], inplace=True, axis=1)

It is time to decide which features can be used for predictions. For that lets check all of the columns separetly. It is easy to see that, ilan no and home link is not needed to predict house price. Lets remove them in the dataset that will be used for model training.

In [ ]:
data=dataset.copy()  #that will be the dataset that will be used for model training.

In [ ]:
data.shape

(13568, 17)

In [ ]:
#data.drop(["ilan_no", "home_link"], inplace=True, axis=1)

In [ ]:
data.columns  #lets review each of the columns

Index(['ilan_no', 'room', 'salon', 'brut_m2', 'net_m2', 'floor_location',
       'building_age', 'building_floor', 'compliance_with_loan',
       'bathroom_amount', 'building_type', 'fuel_type', 'price', 'il', 'ilce',
       'mahalle', 'home_link'],
      dtype='object')

## *Room*

In [ ]:
data.groupby(["room"])["room"].count()

room
1     984
2    4274
3    6312
4    1505
5     360
6     107
7      21
8       5
Name: room, dtype: int64

It seems weird that house has 5,6,7,8 rooms. Lets check them.

In [ ]:
data[data["room"] > 4]

,ilan_no,room,salon,brut_m2,net_m2,floor_location,building_age,building_floor,compliance_with_loan,bathroom_amount,building_type,fuel_type,price,il,ilce,mahalle,home_link
121,120527-355,5,1,340,208,5,9,5,True,3,Betonarme,Doğalgaz,3.200.000TL,Aydın,Efeler,Kurtuluş,https://www.hepsiemlak.com/en/aydin-efeler-kur...
181,4480-23223,6,2,360,340,12,0,12,True,5,Betonarme,Doğalgaz,11.750.000TL,Ankara,Pursaklar,Fatih,https://www.hepsiemlak.com/en/ankara-pursaklar...
193,136270-2,6,2,270,250,4,3,5,True,3,Betonarme,Doğalgaz,2.550.000TL,İstanbul,Esenyurt,Gökevler,https://www.hepsiemlak.com/en/istanbul-esenyur...
213,113552-271,6,1,225,210,5,10,5,True,2,Betonarme,Doğalgaz,2.340.000TL,Zonguldak,Ereğli,Müftü,https://www.hepsiemlak.com/en/zonguldak-eregli...
242,128572-1173,5,1,250,240,3,6,3,True,2,Betonarme,Doğalgaz,3.999.999TL,Antalya,Kepez,Yeşiltepe,https://www.hepsiemlak.com/en/antalya-kepez-ye...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13469,132505-332,5,1,290,270,5,4,5,True,2,Betonarme,Doğalgaz,2.500.000TL,Ankara,Mamak,GeneralZekiDoğan,https://www.hepsiemlak.com/en/ankara-mamak-gen...
13490,20040-116,6,2,360,340,12,8,12,True,5,Betonarme,Doğalgaz,11.750.000TL,Ankara,Pursaklar,Fatih,https://www.hepsiemlak.com/en/ankara-pursaklar...
13503,1955-7088,5,2,340,300,3,11,3,True,3,Betonarme,Doğalgaz,2.200.000TL,Ankara,Keçiören,İncirli,https://www.hepsiemlak.com/en/ankara-kecioren-...
13555,4036-738,5,1,350,320,4,14,4,True,3,Betonarme,Doğalgaz,4.650.000TL,Ankara,Çankaya,Karapınar,https://www.hepsiemlak.com/en/ankara-cankaya-k...
13563,99290-470,5,1,190,180,En Üst Kat,0,4,True,2,Betonarme,Doğalgaz,2.000.000TL,Ankara,Polatlı,Şehitlik,https://www.hepsiemlak.com/en/ankara-polatli-s...

These seem okay. Lets check saloon amount of the houses

## *Saloon*

In [ ]:
data.groupby(["salon"])["salon"].count()

salon
0       51
1    13135
2      373
3        8
5        1
Name: salon, dtype: int64

having more than 3 salon seems weird. I checked and if there are some problem I removed these data.

## *Brut and Net m2*

In [ ]:
#these 2 features will be numeric. lets check if there exist any house its brut is less than net m2
data[data["brut_m2"] < data["net_m2"]]

Empty DataFrame
Columns: [ilan_no, room, salon, brut_m2, net_m2, floor_location, building_age, building_floor, compliance_with_loan, bathroom_amount, building_type, fuel_type, price, il, ilce, mahalle, home_link]
Index: []

There is no such situation. So lets continue with floor location

## *Floor Location*

In [ ]:
data.groupby(["floor_location"])["floor_location"].count()

floor_location
1                  1770
10                  115
11                   74
12                   71
13                   61
14                   36
15                   30
16                   12
17                   13
18                    7
19                    7
2                  2073
20                    9
21 ve üzeri          39
3                  1798
4                  1158
5                   617
6                   382
7                   252
8                   198
9                   161
Ara Kat            1260
Asma Kat              1
Bahçe Katı          523
Bodrum               12
Bodrum ve Zemin       9
En Üst Kat          708
Giriş Katı          411
Kot 1               192
Kot 2               101
Kot 3                32
Teras Katı           64
Villa Katı           36
Yarı Bodrum          18
Yüksek Giriş       1105
Zemin               110
Çatı Katı           103
Name: floor_location, dtype: int64

In [ ]:
#lets define that column categorical
data["floor_location"]=data["floor_location"].astype("category")

In [ ]:
data.dtypes

ilan_no                   object
room                       int64
salon                      int64
brut_m2                    int64
net_m2                     int64
floor_location          category
building_age               int64
building_floor             int64
compliance_with_loan      object
bathroom_amount            int64
building_type             object
fuel_type                 object
price                     object
il                        object
ilce                      object
mahalle                   object
home_link                 object
dtype: object

## *Building Age*

In [ ]:
data.groupby(["building_age"])["building_age"].count()

building_age
0      3042
1       369
2       353
3       499
4       824
       ...
100       6
110       1
225       1
350       1
510       1
Name: building_age, Length: 66, dtype: int64

There are some problems with building ages. Check them.